# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [6]:
a : int = 7
b : int = 2

print(a + b) # addtition
print(a - b) # subtraction
print(a * b) # multiplication
print(a / b) # division

9
5
14
3.5

In [7]:
a : int = 11
b : int = 3

print(a % 3) # Modulus

2

In [9]:
# Exponentiation	
print(2**2)
print(2**3) 
print(2**4)

4
8
16

In [11]:
# division
print(12 / 3)
print(14.8 / 3)

4.0
4.933333333333334

In [12]:
# floor division (down side ki value apko dedega) 
print( 12 // 3)
print( 14.8 // 3)

4
4.0

# Python Assignment Operators

In [23]:
a : int = 18
print(b := 8)

8

In [13]:
# = assign
a : int = 7
b : int = 2

In [14]:
# +=
a : int = 7
print(a)
a = a + 2
print(a)

7
9

In [16]:
# +=
a : int = 7
print(a)
a += 2
print(a)

7
9

In [18]:
a : int = 7
print(a)
a -= 2
print(a)

7
5

# Python Comparison Operators

In [19]:
# == (means equals)
a : int = 7
b : int = 10

print( a == b )
# a == b
# 7 == 10
# False

False

In [24]:
# == (means equals)
a : int = 7
b : int = 7

print( a == b )
# a == b
# 7 == 7
# True

True

In [25]:
# == (means equals)
a : int = 7
b : str = '7'

print(a == b)
# a == b
# 7 == '7'
# False

False

In [26]:
# != (means not equal)
a : int = 7
b : int = 7

print( a != b )
# a == b
# 7 == 7
# False

False

In [27]:
# > (means greater than)
a : int = 7
b : int = 8

print(a > b)
# a > b
# 7 > 8
# False

False

In [28]:
# > (means greater than)
a : int = 7
b : int = 7

print(a > b)
# a > b
# 7 > 8
# False

False

In [29]:
# > (means greater than)
a : int = 10
b : int = 8

print(a > b)
# a > b
# 10 > 8
# True

True

In [30]:
# < (means less than)
a : int = 10
b : int = 8

print(a < b)
# a < b
# 10 < 8
# False

False

In [31]:
# >= (means greater than ya equal ho)
a : int = 2
b : int = 7

print(a >= b)

False

In [32]:
# >= (means greater than ya equal ho)
a : int = 7
b : int = 7

print(a >= b)

True

In [33]:
# <= (means less than ya equal ho)
a : int = 7
b : int = 7

print(a <= b)

True

In [34]:
# <= (means less than ya equal ho)
a : int = 7
b : int = 7

print(a => b) #error

SyntaxError: invalid syntax (1935321547.py, line 5)

ASCII Code
```
A = 65
B = 66
Z = 90

a = 97
b = 98
z = 122

0=48
1=49
9=57
```

In [36]:
ord('A')

65

In [37]:
chr(65)

'A'

In [38]:
a : str = 'A' # 65
b : str = 'B' # 66

print(b >= a) # 66 >= 65

True

In [39]:
a : str = 'A' # 65
b : str = 'a' # 97

print(b >= a) # 97 >= 65

True

# Python Logical Operators

In [40]:
# and لازمی
# or = optional
#1        2        3        4
True and True and True and True

True

In [41]:
# and لازمی
# or = optional
#      1        2        3        4
print(True and True and True and True  )
print(True and True and False and True)
print(False and False and False and True)

True
False
False

In [42]:
# and لازمی
# or = optional
#      1        2        3        4
print(True and True and True and True  )
print(True and True and False and True)
print(False and False and False and True)
print(False or False or False or False)

True
False
False
False

In [44]:
True

True

In [45]:
not True

False

In [56]:
# not
name : str = "Ahmed"
print(not name=="Ahmed")

False

In [54]:
# !
name : str = "Ahmed"
print(name != "Ahmed")

True

# Python Identity Operators

In [57]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

140726170554632
140726170554632

In [65]:
x is z # True because upper dono ki value same hai

True

In [60]:
i : str = 'abc'
j : str = 'xyz'

print(id(i))
print(id(j))

i is j # False because upper dono ki value change hai

140726170554632
3004505743232

False

In [66]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

x is not z # False because dono ki value same hai

140726170554632
140726170554632

False

# Python Membership Operators

In [78]:
# input

names : list[str] = ['Sir Zia','Sir Inam', 'Qasim']

uinput : str = input("Enter your name")

uinput in names # False beacuse mene input mei Ahmed dala tah jo names mei nh hai

False

In [72]:
# input

names : list[str] = ['Sir Zia','Sir Inam', 'Qasim']

uinput : str = input("Enter your name")

uinput in names # True beacuse mene input mei Sir Zia dala tah jo names mei hai

True

In [79]:
# not in input 

names : list[str] = ['Sir Zia','Sir Inam', 'Qasim']

uinput : str = input("Enter your name")

uinput not in names # True beacuse mene input mei Ahmed dala tah jo names mei nh hai

True

In [73]:
# input

names : list[str] = ['Sir Zia','Sir Inam', 'Qasim']

uinput : str = input("Enter your name")

uinput not in names # False beacuse mene input mei Qasim dala tah jo names mei hai

False

In [74]:
uinput not in names

False

In [69]:
names: list[str] = [chr(i) for i in range(65,91)]
display(names)

"Pakistan" in names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

False

In [80]:
names: list[str] = [chr(i) for i in range(65,91)]

for i in range(len(names)):
    print(i, names[i])
    if names[i] == "D":
        print("True")
        break

0 A
1 B
2 C
3 D
True

In [81]:
names: list[str] = [chr(i) for i in range(65,91)]

"D" in names

True

# PEMDAS
* Parentheses/Brackets
* Exponents (ie Powers and Square Roots, etc.)/Orders (ie Powers and Square Roots, etc.)
* MD Multiplication and Division (left-to-right)
* AS Addition and Subtraction (left-to-right)

In [98]:
print(3 + 2 - 2 * 4 /2 ) # (we don't have P and E)
#     3 + 2 − 2 × 4 ÷ 2 (1st we multiply according to PE'M'DAS)
#     3 + 2 - 8 ÷ 2 (2nd we divide according to PEM'D'AS)
#     3 + 2 - 4 (3rd we add according to PEMD'A'S)
#     5 - 4 (4th we add according to PEMDA'S')

1.0

In [83]:
print((6 + 3) - (6 + 3))

0

In [84]:
universe_age: int  = 14_000_000_000
print(universe_age)

14000000000

In [87]:
# unzip
#0  1    2       0     1   2
a , b  , c  = 'Ahmed', 7, 3.0

print(a)
print(b)
print(c)

Ahmed
7
3.0

In [99]:
'Ahmed', 7, 3.0

('Ahmed', 7, 3.0)

In [90]:
a, b, c = ('Ahmed', 7, 3.0)
print(a)
print(b)
print(c)

Ahmed
7
3.0

In [92]:
data = ('Ahmed', 7, 3.0)
print(data[0], data[1], data[2])

Ahmed 7 3.0

In [95]:
data = ('qasim', 7, 3.0)
print(*data)

qasim 7 3.0

In [100]:
2 * 2 # 4
"a" * 3

'aaa'

In [ ]:
#             use '#' for Comments


# adskf
# ads
# Falsea
# df

In [ ]:
#             use """ for Comments
"""
asdf
asd
f
asdf

"""

print('hello')

# The Zen of Python

In [111]:
import this

The Zen of Python, by Tim Peters

* Beautiful is better than ugly.
* Explicit is better than implicit.
* Simple is better than complex.
* Complex is better than complicated.
* Flat is better than nested.
* Sparse is better than dense.
* Readability counts.
* Special cases aren't special enough to break the rules.
* Although practicality beats purity.
* Errors should never pass silently.
* Unless explicitly silenced.
* In the face of ambiguity, refuse the temptation to guess.
* There should be one-- and preferably only one --obvious way to do it.
* Although that way may not be obvious at first unless you're Dutch.
* Now is better than never.
* Although never is often better than *right* now.
* If the implementation is hard to explain, it's a bad idea.
* If the implementation is easy to explain, it may be a good idea.
* Namespaces are one honking great idea -- let's do more of those!