# I am so happy to start python class with static type

# String and F-String

In [3]:
print("Hello Ahmed!")

Hello Ahmed!

In [1]:
print(name)

NameError: name 'name' is not defined

In [2]:
name:str = "Ahmed Raza"
print(name)

Ahmed Raza

# String Data type in Python

In [3]:
charcter : list[str] = ['A', 'A' , 'A' , 'A' , 'A' , 'A', 'A']

print(charcter)

['A', 'A', 'A', 'A', 'A', 'A', 'A']

In [13]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = "Ahmed Raza"
print(type(name))
print(name)

<class 'str'>
Ahmed Raza

In [14]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Ahmed Raza'
print(type(name))
print(name)

<class 'str'>
Ahmed Raza

In [6]:
# /n line break

message : str = 'PIAIC Student Card \n father's Name'
print(message)

SyntaxError: unterminated string literal (detected at line 3) (2828282917.py, line 3)

In [7]:
message : str = "PIAIC Student Card \n father's Name"
print(message)

PIAIC Student Card
 father's Name

In [8]:
message : str = 'PIAIC "Student Card" \n father Name'
print(message)

PIAIC "Student Card"
 father Name

In [10]:
# convert any special character into simple character, place \ before character
message : str = 'PIAIC Student Card \n father\'s Name'
print(message)

PIAIC Student Card
 father's Name

In [11]:
"a" + "b" + "c"

'abc'

In [12]:
"Ahmed" + "786"

'Ahmed786'

In [18]:
"Ahmed" + 18

TypeError: can only concatenate str (not "int") to str

In [17]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Ahmed Raza'
fname : str = "Mehboob"
education : str = "Computer Science"
age : int = 18

card : str = "PIAIC Student Card \n Student Name: " + name + " \n Age:" + age

print(card)

TypeError: can only concatenate str (not "int") to str

In [19]:
# convert int into string

"A" + str(18)

'A18'

In [20]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Ahmed Raza'
fname : str = "Mehboob"
education : str = "Computer Science"
age : int = 18

card : str = "PIAIC Student Card \n Student Name: " + name + " \n Age:" + str(age)

print(card)

PIAIC Student Card
 Student Name: Ahmed Raza
 Age:18

In [21]:
print(7 + 8 + 2)

17

# "\\" line continue

In [22]:
print(7 + \
      8 + \
        2)

17

In [27]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Ahmed Raza'
fname : str = "Mehboob"
education : str = "Computer Science"
age : int = 18

card : str = "PIAIC Student Card \nStudent Name: " + name + \
             "\nAge:" + str(age)+ "\n"+ \
             "Education: " + education

print(card)

PIAIC Student Card
Student Name: Ahmed Raza
Age:18
Education: Computer Science

# Define multiline string """ """, ''' '''

In [29]:
name : str = 'Ahmed Raza'
fname : str = "Mehboob"
education : str = "Computer Science"
age : int = 18


card : str = """
PIAIC Student Card
Student Name : 
Father's Name: 
Age: 
Education : 
"""

print(card)

PIAIC Student Card
Student Name :
Father's Name:
Age:
Education :

In [30]:
name : str = 'Ahmed Raza'
fname : str = "Mehboob"
education : str = "Computer Science"
age : int = 18


card : str = '''
PIAIC Student Card
Student Name : 
Father's Name: 
Age: 
Education : 
'''

print(card)

PIAIC Student Card
Student Name :
Father's Name:
Age:
Education :

# F-string Python

In [31]:
name : str = 'Ahmed Raza'
fname : str = "Mehboob"
education : str = "Computer Science"
age : int = 18


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : Ahmed Raza
Father's Name: Mehboob
Age: 18
Education : Computer Science

In [32]:
name : str = 'Ahmed Raza'
fname : str = "Mehboob"
education : str = "Computer Science"
age : int = 18


card : str = f'''
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
'''

print(card)

PIAIC Student Card
Student Name : Ahmed Raza
Father's Name: Mehboob
Age: 18
Education : Computer Science

In [33]:
name : str = 'Ahmed Raza'
fname : str = "Mehboob"
education : str = "Computer Science"
age : int = 18


card : str = `
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
`

print(card)

SyntaxError: unterminated string literal (detected at line 10) (3262671993.py, line 10)

In [37]:
name : str = 'Ahmed Raza'
fname : str = "Mehboob"
education : str = "Computer Science"
age : int = 18


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}

Total {20 + 4 + 18 + 8}
"""

print(card)

PIAIC Student Card
Student Name : Ahmed Raza
Father's Name: Mehboob
Age: 18
Education : Computer Science

Total 50

# F-string and Jinja style

In [38]:
# f-string

f"""
student name {name}
"""

'\nstudent name Ahmed Raza\n'

In [39]:
# Jinja Style

"""
student name {{name}}
"""

'\nstudent name {{name}}\n'

In [40]:
name : str = 'Ahmed Raza'
fname : str = "Mehboob"
education : str = "Computer Science"
age : int = 18


card : str = f"""
PIAIC Student Card
Student Name : %s   
Father's Name: %s
Age: %d
Education : %s

""" % (name, fname, age, education)

print(card)

PIAIC Student Card
Student Name : Ahmed Raza
Father's Name: Mehboob
Age: 18
Education : Computer Science

In [41]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [42]:
a = 7
b = 8
# {} place holder
#                   0                1          0 1
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [60]:
# {} place holder
#                   0                1          0 1
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [47]:
name : str = "AhMeD rAzA"

print(name.capitalize())
print(name.lower())

Ahmed raza
ahmed raza

In [66]:
name : str = 'Ahmed Raza'
fname : str = "Mehboob"
education : str = "Computer Science"
age : int = 18


card : str = f"""
PIAIC Student Card
Student Name : {}
Father's Name: {}
Age: {}
Education : {}
""".format(fname, name, education, age)

print(card)

SyntaxError: f-string: valid expression required before '}' (3154109049.py, line 9)

In [67]:
name : str = 'Ahmed Raza'
fname : str = "Mehboob"
education : str = "Computer Science"
age : int = 18


card : str = """
PIAIC Student Card
Student Name : {}
Father's Name: {}
Age: {}
Education : {}
""".format(fname, name, education, age)

print(card)

PIAIC Student Card
Student Name : Mehboob
Father's Name: Ahmed Raza
Age: Computer Science
Education : 18

In [69]:
name : str = 'Ahmed Raza'
fname : str = "Mehboob"
education : str = "Computer Science"
age : int = 18


card : str = """
PIAIC Student Card
Student Name : {1}
Father's Name: {0}
Age: {2}
Education : {3}
""".format(fname, name, education, age)
#           0      1       2        3

print(card)

PIAIC Student Card
Student Name : Ahmed Raza
Father's Name: Mehboob
Age: Computer Science
Education : 18

In [70]:
name : str = 'Ahmed Raza'
fname : str = "Mehboob"
education : str = "Computer Science"
age : int = 18


card : str = """
PIAIC Student Card
Student Name : {a}
Father's Name: {b}
Age: {c}
Education : {d}
""".format(a=name, b=fname, c=age, d=education)


print(card)

PIAIC Student Card
Student Name : Ahmed Raza
Father's Name: Mehboob
Age: 18
Education : Computer Science

# Recommended below two f-string format

In [71]:
name : str = 'Ahmed Raza'
fname : str = "Mehboob"
education : str = "Computer Science"
age : int = 18


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : Ahmed Raza
Father's Name: Mehboob
Age: 18
Education : Computer Science

In [73]:
student_code : str = """
print("My Name is Ahmed Raza")
a:int = 10
b:int = 8
print(a + b)
"""

exec(student_code)

My Name is Ahmed Raza
18

# Explore String methods and attributes

pre-define global function we have used

* print
* type
* id
* dir
* dir

In [75]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [77]:
name : str = "AhMeD rAzA"

#variable_name.method()
print(name.capitalize())

Ahmed raza

In [78]:
name : str = "AhMeD rAzA"

#variable_name.method()
print(name)
print(name.casefold())

AhMeD rAzA
ahmed raza

In [79]:
name : str = "AhMeD rAzA"

#variable_name.method()
print(name)
print(name.lower())

AhMeD rAzA
ahmed raza

In [80]:
name : str = "      AhMeD rAzA         "

#variable_name.method()
display(name)
display(name.lstrip()) # remove left space

'      AhMeD rAzA         '

'AhMeD rAzA         '

In [81]:
name : str = "      AhMeD rAzA         "

#variable_name.method()
display(name)
display(name.rstrip()) # remove right space

'      AhMeD rAzA         '

'      AhMeD rAzA'

In [83]:
name : str = "      AhMeD rAzA         "

#variable_name.method()
display(name)
display(name.strip()) # remove side spacing

'      AhMeD rAzA         '

'AhMeD rAzA'

In [84]:
name : str = "      AhMeD      rAzA         "

#variable_name.method()
display(name)
display(name.strip()) # remove side spacing not center

'      AhMeD      rAzA         '

'AhMeD      rAzA'

In [87]:
import re

name : str = "      AhMeD           rAzA         "

display(name)

#                     pattern | replace | variable
name1 : str = re.sub(' {2,100}' , ' ' , name ).strip() # ap 2 ya 100 space do osko convert krdega 1 (single) space mei
display(name1)

'      AhMeD           rAzA         '

'AhMeD rAzA'

In [88]:
name : str = "AhMeD rAzA"

#variable_name.method()
display(name)
display(name.title()) # first word capital

'AhMeD rAzA'

'Ahmed Raza'

In [89]:
name:str = "AhMeD rAzA"
print(name.upper())
print(name.lower())

AHMED RAZA
ahmed raza

In [ ]:
# \n 
# \t 
# \b

In [90]:
# \n 
print("Name:\t\t Ahmed Raza")

Name:		 Ahmed Raza

In [92]:
# \t 
print("Name: \nAhmed Raza")

Name:
Ahmed Raza

In [96]:
# \b
print("Name: \bAhmed Raza")

Name:Ahmed Raza

In [97]:
nostarch_url:str = 'https://nostarch.com'
nostarch_url.removeprefix('https://') # (remove "https://")

'nostarch.com'

In [98]:
1name : str = "Qasim"
print(1name)

SyntaxError: invalid decimal literal (2214117265.py, line 1)

In [100]:
_1name : str = "Ahmed"
print(_1name)

Ahmed

In [101]:
piaic student name : str = "Muhammad Qasim"
print(piaic student name)

SyntaxError: invalid syntax (379964243.py, line 1)

In [103]:
piaic_student_name : str = "Ahmed Raza"
print(piaic_student_name)

Ahmed Raza