# List

* iteration operation with loop
* apply any operation on element

In [1]:
names : list[str] = ['Sir Zia',"Muhammad Qasim","DR Noman"]
print(names)

['Sir Zia', 'Muhammad Qasim', 'DR Noman']

In [3]:
# Python Loop

names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name) 

# Sir zia (again loop)
# "Muhammad Qasim" (again loop)
# DR Noman

Sir Zia
Muhammad Qasim
DR Noman

In [4]:
# Python old loop

names = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

i:int = 0 # counter = 0

while i<len(names): # names length =3
    print(names[i])
    i += 1

Sir Zia
Muhammad Qasim
DR Noman

In [5]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)

Sir Zia
Muhammad Qasim
DR Noman

In [6]:
for name in names:
    print(f'Welcome Dear Tacher {name.title()}')

Welcome Dear Tacher Sir Zia
Welcome Dear Tacher Muhammad Qasim
Welcome Dear Tacher Dr Noman

In [10]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

# loop start {
for name in names:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")
# loop end }

Welcome Dear Tacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team

Welcome Dear Tacher Dr Noman
PIAIC Gen AI Team

In [11]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

# loop start {
for name in names:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")
# loop end }

# (Aghar ap space dogay tu woh loop mei print hoga or aghar ap space nh dogay tu woh loop se bahaar hojayega)
print("Pakistan zinda bad")

Welcome Dear Tacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team

Welcome Dear Tacher Dr Noman
PIAIC Gen AI Team

Pakistan zinda bad

In [12]:
# Add slicing in loop

#                      0               1           2
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]
#                     -3               -2         -1

for name in names[-2:]:  # (start : end) (left to right)
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")

print("Pakistan zinda bad")

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team

Welcome Dear Tacher Dr Noman
PIAIC Gen AI Team

Pakistan zinda bad

In [20]:
# Add slicing in loop

#                      0               1           2
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]
#                     -3               -2         -1

for name in names[::-1]: # (start : end : step) (right to left because step is '-1')
    print(f'Welcome Dear Tacher {name.upper()}')
    print("PIAIC Gen AI Team\n")
    
print("Pakistan zinda bad\n")

Welcome Dear Tacher DR NOMAN
PIAIC Gen AI Team

Welcome Dear Tacher MUHAMMAD QASIM
PIAIC Gen AI Team

Welcome Dear Tacher SIR ZIA
PIAIC Gen AI Team

Pakistan zinda bad

In [18]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]

for row in data_base:
    print(row)

('qasim', '123')
('sirzia', '345')
('ikhlas', '789')

In [21]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('Ahmed','786')
                                    ]

for row in data_base:
    user, password = row
    print(user, password)

qasim 123
sirzia 345
Ahmed 786

In [22]:
input_user : str = input("Enter user name")
print(input_user)

Pakistan zinda bad

In [23]:
# if and else (condition)

data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('Ahmed','786')
                                    ]
input_user : str = input("Enter user name") # Raza (not found in list)
input_password : str = input("Enter user password") # 786 (not found in list)

# user , password = ("qasim",'123')
# user = name[0]
# password = name[1]

for row in data_base:    #  name  ,  pass
    user, password = row # ("qasim",'123')
    if input_user == user and input_password == password:
        print(f"Valid User {user}")
        break
else:
    print("Not found or Invalid user name")

# Not found or Invalid user name

Not found or Invalid user name

In [24]:
# if and else (condition)

data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('Ahmed','786')
                                    ]
input_user : str = input("Enter user name") # Ahmed (found in list)
input_password : str = input("Enter user password") # 786 (found in list)

# user , password = ("qasim",'123')
# user = name[0]
# password = name[1]

for row in data_base:    #  name  ,  pass
    user, password = row # ("qasim",'123')
    if input_user == user and input_password == password:
        print(f"Valid User {user}")
        break
else:
    print("Not found or Invalid user name")

# Valid User

Valid User Ahmed

In [25]:
# Problem

names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
else:
    print("Hello world")

Sir Zia
Muhammad Qasim
DR Noman
Hello world

In [26]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
    break
else:
    print("Hello world")

Sir Zia

In [27]:
# Problem

names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
    break
    
print("Hello world")

Sir Zia
Hello world

In [28]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
print(name) # error because 'space' nh diya

IndentationError: expected an indented block after 'for' statement on line 3 (3470444750.py, line 4)

In [30]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names
    print(name) # error because ':' nh diya

SyntaxError: expected ':' (3323869817.py, line 3)

In [35]:
magicians: list[str] = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    
# alice (again loop)
# david (again loop)
# carolina

print(f"I can't wait to see your next trick, {magician.title()}.\n") # carolina (beacuse loop mei last value 'carolina' hai)

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [36]:
message = "Hello Python world!" 
    print(message)

IndentationError: unexpected indent (483696993.py, line 2)

In [37]:
message = "Hello Python world!" 
 print(message)

IndentationError: unexpected indent (1223476688.py, line 2)

In [41]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.")

# alice (again loop)
# david (again loop)
# carolina
    
    print("Thank you everyone, that was a great magic show!\n")# last message for everyone

Alice, that was a great trick!
I can't wait to see your next trick, Alice.
Thank you everyone, that was a great magic show!

David, that was a great trick!
I can't wait to see your next trick, David.
Thank you everyone, that was a great magic show!

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.
Thank you everyone, that was a great magic show!

In [38]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

# alice (again loop)
# david (again loop)
# carolina
    
print("Thank you everyone, that was a great magic show!")# last message for everyone

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

In [39]:
#              0        1         2
magicians = ['alice', 'david', 'carolina']

list(enumerate(magicians)) # enumerate (apko index number and name dono dedega)

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [42]:
#              0        1         2
magicians = ['alice', 'david', 'carolina']

for index, name in enumerate(magicians):
    print(index, name)

0 alice
1 david
2 carolina

# Numbers with loop

* range(start,end,step)

In [43]:
range(10)

range(0, 10)

In [46]:
list(range(10)) # starting = 0 , ending = n -1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
list(range(2,10)) # starting = 2 , ending = n-1 10-1 = 9

[2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
list(range(2,21,2)) # starting = 2 , ending = (n-1) 21-1 =20 , step = 2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [53]:
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [62]:
# Table

for n in range(1,11):
    print(f"{2} X {n} = {n*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [52]:
squares:list[int] = []
for value in range(1, 11):
    square = value ** 2 # (1**2 = 1) to (10**2 = 100) 
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List comprehensive
```
for item in items_list:
    loop_body
```

### Comprehensive Style
```
[loop_body for item in items_list]
```

In [63]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [65]:
'line1'
'line2'
'line3' # always return last line

'line3'

In [69]:
print('line1')
print('line2')
print('line3')

line1
line2
line3

In [67]:
# Easy Square method

[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [70]:
digits:list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(digits)
print(max(digits)) # 10
print(min(digits)) # 1
print(sum(digits)) # add all numbers 55

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10
1
55

In [76]:
#                        0                   1            2
my_foods = ['Crispy Chicken Mayon Roll', 'Biryani', 'Delizia cake'] 
friend_foods = my_foods[:] # deep copy (start : end)

print(my_foods)
print(friend_foods)

friend_foods[0] = "Lassi"

print(my_foods)
print(friend_foods)

['Crispy Chicken Mayon Roll', 'Biryani', 'Delizia cake']
['Crispy Chicken Mayon Roll', 'Biryani', 'Delizia cake']
['Crispy Chicken Mayon Roll', 'Biryani', 'Delizia cake']
['Lassi', 'Biryani', 'Delizia cake']

# Tuples

### Defination
* yeh ek constant hai jis ki value ek bar ban jaye tu change nh ho sakti.
* is mei koi bhi chez append nh ho sakti hai.
* yeh update bhi nh ho sakta hai.

In [79]:
#                    0   1   2
names:tuple[str] = ('A',"B",'C')
print(names[0])
print(names[0:2]) # (start : end)

A
('A', 'B')

In [81]:
#                    0   1   2
names:tuple[str] = ('A',"B",'C')

names[0] = "Pakistan" # (error because yeh update nh ho sakta hai)

TypeError: 'tuple' object does not support item assignment

In [82]:
names:tuple[str] = ('A',"B",'C')

names:tuple[str] = ('Pakistan',"B",'C')

print(names) # not update but re-assign

('Pakistan', 'B', 'C')

In [83]:
from typing import Any
data : tuple[Any] = ("Ahmed",[7,8,6], True)

print(data)

('Ahmed', [7, 8, 6], True)

In [84]:
data : tuple[Any] = ("A",[7,8], True)

print(data[1])
data[1].append(6)
print(data)# (hum ne object ki value ko update kiya hai tuple ko update nh kiya)

[7, 8]
('A', [7, 8, 6], True)

In [85]:
a  = input("abc") # return string type
print(type(a))
print(a)

<class 'str'>
76

In [87]:
sorted([7,8,1,3])

[1, 3, 7, 8]